html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.mainPage {
  height: 100%;
}

.infopanel {
  width: 25%;
  
}

.userPreview {
  float: left;
}

.friendList {
  float: left;
}

.chat {
  height: 100%;
  width: 75%;
  float: right;
  border: lightblue;
  border-style: hidden hidden hidden solid;
  border-width: medium;
}

.chat-header {
  height: 10%;
  text-align: center;
  border-bottom: lightblue;
  border-width: medium;
  border-style: hidden hidden solid hidden;
}

ChatHeader {
  vertical-align: middle;
}

.messageList {
  height: 82%;
  padding-top: 10px;
}

.sendForm {
  height: 8%;
}

.message-container {
  width: auto;
  height: auto;
  padding: 10px;
}


.my-message {
  padding: 10px;
  float: right;
  width: 65%;
}

.other-message {
  padding: 10px;
  float: left;
  width: 65%;
}

.message-infos {
  text-align: left;
  font-size: small;
}

.my-content {
  padding: 10px;
  text-align: left;
  color: white;
  border-radius: 20px;
  background-color: royalblue;
  width: fit-content;
  float:right;
}

.other-content {
  padding: 10px;
  text-align: left;
  border-radius: 20px;
  background-color: powderblue;
  width: fit-content;
  float: left;
}

.writeMessage {
  padding: 10px;
}
